body {
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  color: #ffff;
  background-color: #7035be;
}

h1:hover {
  color: #7035be;
  background-color: rgb(214, 214, 214);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

h1.clicked {
  color: #7035be;
  background-color: lightgray;
}

h2 {
  color: rgb(84, 190, 190);
  margin-left: 40px;
  border-bottom: 4px dotted black;
}

h1 .node {
  font-family: monospace;
}
