.nav-link {
  color: #00008b !important;
}

.lines {
  height: 4px !important;
  width: 45px !important;
  background: #5e5eff !important;
  text-align: center !important;
  justify-content: center !important;
  margin: -10px auto;
  border-radius: 30px;
}

.long-lines {
  height: 4px !important;
  width: 700px !important;
  background: #5e5eff !important;
  text-align: justify !important;
}

.header-text {
  color: #5e5eff !important;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.text-light {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #5e5eff !important;
  border-radius: 100px !important;
  border-color: #5e5eff !important;
}

.home-background {
  background: url(/assets/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.program-background {
  background: url(/assets/image3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  top: 50px;
  bottom: 50px;
  margin-top: 15px;
}

.content, .history {
  margin-top: 50px;
}

.text-controller {
  margin-top: 300px;
}

.image-card {
  background: url(/assets/Rectangle.png);
  min-height: 500px;
}

.box-rectangle {
  width: 100;
  height: 235px;
  background-color: #5e5eff;
  border-radius: 5px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  box-sizing: auto;
}

.rectangle {
  width: 100;
  height: 200px;
  background-color: #5e5eff;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  box-sizing: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-color: #ffff;
  border-style: solid;
}

.text-h6 {
  color: black;

  /* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.text-h4 {
  color: #5e5eff !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
