@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, arial, helvetica;
}

html {
  scroll-behavior: smooth;
}

:root {
  --blackColor: #101010;
  --redColor: #cc0001;
  --whiteColor: #ffffff;
  --purpleColor: #2b3467;
  --greyColor: #a5a5a5;
  --shadowColor: #000
  --bodyBack: #ffeaed;
  --textColor: #1b2741;
  --starColor: #f67034;
  --sectionBack: #f7f6f9;
  --mainColor: #191825;
  --logoColor: #e0ac1c;
}

li {
  list-style: none;
}

.nav-action {
  text-decoration: none;
  color: var(--whiteColor);
  font-size: 1rem;
}

.nav-action:hover {
  color: var(--greyColor);
}

/* Header */
header {
  position: relative;
  display: inline;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1100;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--mainColor);
}

.navbar .logo .logo-title {
  font-weight: bold;
  text-decoration: none;
  color: var(--whiteColor);
  text-shadow: 0.5px 0.5px 0.5px #00000065;
  margin: 1px 100px;
  font: bold 36px 'Cookie', cursive;
}

.navbar .logo .logo-title span {
  color: var(--logoColor);
}

.navbar .navbar-links {
  display: flex;
  gap: 3rem;
  margin: 1px 100px;
}

.navbar .navbar-toggle-btn {
  color: var(--whiteColor);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: var(--mainColor);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 200px;
  z-index: 100;
}

.dropdown-menu .nav-action {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image slider */
.slider-container {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 45px;
}

.slider-container img {
  width: 100%;
  height: 30rem;
  object-fit: fill;
  border-radius: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.slider-container .slider {
  display: none;
}

.slider-container .slider.active {
  display: block;
}

.slider-container .indicators {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6%;
}

.slider-container .indicators li {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.1rem solid var(--greyColor);
  background-color: var(--greyColor);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.slider-container .indicators li.active {
  background-color: var(--purpleColor);
  border-color: var(--whiteColor);
  box-shadow: 0px 2px 13px 0px rgba(255 255 255 / 0.5);
}

.slider-container .prev,
.slider-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.slider-container .prev {
  left: 2%;
  margin-left: -70px;
}

.slider-container .next {
  right: 2%;
  margin-right: -70px;
}

.slider-container .prev i,
.slider-container .next i {
  color: var(--greyColor);
  font-size: 1.8rem;
}

.fade {
  animation: fade 0.3s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Products */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-header {
  width: 100%;
  text-align: center;
}

.product-header h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--purpleColor);
  text-align: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 1px;
}

.product-header p {
  color: var(--blackColor);
  margin-bottom: 50px;
  font-size: 18px;
}

.products {
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product {
  position: relative;
  background-color: var(--sectionBack);
  width: 350px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: .3s;
}

.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.image {
  width:100%;
  height: 60%;
  display: grid;
  place-content: center;
}

.image img {
  width: 240px;
}

.trail-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trail-price h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  color: var(--purpleColor);
}

.trail-price span {
  font-size: 1.0em;
  color: var(--starColor);
}

.product p {
  font-size: 16px;
  line-height: 25px;
}

.stars svg {
  font-size: 1.3em;
  color: var(--starColor);
}

.buy {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.buy button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--purpleColor);
  color: var(--sectionBack);
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
}

.buy button:hover {
  transform: scale(1.1);
}

/* About */
.about {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.about .content h1 {
  font-size: 2.5rem;
  color: var(--purpleColor);
  margin-bottom: 10px;
}

.about img {
  flex: 0 50%;
  max-width: 30%;
  margin-bottom: 40px;
  height: auto;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.content {
  padding: 35px;
}

.content h2 {
  color: var(--purpleColor);
  font-size: 20px;
  margin: 10px 0;
}

.content p {
  color: var(--blackColor);
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0px;
}

.read-more-btn {
  display: inline-block;
  color: var(--whiteColor);
  background-color: var(--purpleColor);
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.read-more-btn:hover {
  transform: scale(1.1);
}

.content a {
  text-decoration: none;
  color: #3F71EA;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: var(--mainColor);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: bold 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: var(--logoColor);
}

/* Contact */
.contact {
  margin-bottom: 40%;
}

.contact h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--purpleColor);
  text-align: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.contact form {
  width: 500px;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.contact form input, .contact form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--purpleColor);
  transition: 0.2s ease;
  font-size: 15px;
}

.contact form .form-name, .contact form .form-email, .contact form .form-message {
  margin-bottom: 30px;
}

.contact form button {
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  color: var(--whiteColor);
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--purpleColor);
  transition: 0.2s ease;
  font-weight: bold;
  font-size: 1rem;
  word-wrap: break-word;
  float: none;
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.contact form button:hover {
  transform: scale(1.01);
}

.contact form input:active, .contact form textarea:active {
  transform: scale(1.01);
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 30%;
}

.footer-distributed .footer-center i {
  color: #ffffff;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}

/* Responsive design */
@media screen and (max-width: 992px) {
  .navbar .navbar-links {
    display: none;
  }

  .navbar .navbar-toggle-btn {
    display: block !important;
    margin-right: 20px;
  }

  .navbar .logo .logo-title {
    margin-left: 20px;
  }

  .dropdown-menu {
    display: block !important;
  }
  
  .slider-container img {
    height: auto;
    width: 100%;
    object-fit: fill;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }

  .slider-container .indicators li {
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 1rem;
  }

  .about {
    flex-direction: column;
  }

  .about .content h1 {
    text-align: center;
  }

  .about img {
    flex: 0 100%;
    max-width: 70%;
  }

  .content {
    flex: 0 100%;
    max-width: 100%;
    padding: 10px;
  }

  .content h2, .content p {
    justify-content: center;
    text-align: center;
  }

  .read-more-btn {
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex;
  }
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }

  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}      

@media all and (max-width: 1000px) {
  .contact {
    margin-bottom: 70%;
  }

  .contact form {
    padding: 10px 0 0 0;
  }

  .contact form input, .contact form button {
    left: 0;
    top: 0;
    margin: 0.4em auto;
    display: block; 
  }
}

@media (max-width: 600px) {
  .contact {
    margin-bottom: 150%;
  }
}