/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*Sass Documentation https://sass-lang.com/documentation*/

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
}

:root {
  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  @media screen and (min-width: 768px) {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: 0.5s;
    }
  }
  &__item {
    margin-bottom: var(--mb-4);
  }
  &__link {
    position: relative;
    color: #fff;

    &:hover {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--first-color);
      }
    }
  }
  &__logo {
    color: var(--second-color);
  }
  &__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;

  &__data {
    align-self: center;
  }
  &__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);

    &-color {
      color: var(--first-color);
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    &-icon {
      width: max-content;
      margin-bottom: var(--mb-2);
      font-size: 1.5rem;
      color: var(--second-color);

      &:hover {
        color: var(--first-color);
      }
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
  }
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
}

/* ===== ABOUT =====*/
.about {
  &__container {
    row-gap: 2rem;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: var(--mb-2);
  }

  &__img {
    justify-self: center;

    & img {
      width: 200px;
      border-radius: 0.5rem;
    }
  }
}

/* ===== Interests =====*/
.interests {
  &__container {
    row-gap: 2rem;
  }
  &__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;

    & img {
      transition: 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* ===== CONTACT =====*/
.contact {
  &__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  &__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
  }
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;

  &__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  &__social {
    margin-bottom: var(--mb-4);
  }
  &__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  }
}

/* ===== MEDIA QUERIES=====*/
@media screen and(min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);

    &::after {
      width: 80px;
      top: 3rem;
    }
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    &__list {
      display: flex;
      padding-top: 0;
    }
    &__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
    &__link {
      color: var(--second-color);
    }
  }
  .home {
    height: 100vh;
    &__data {
      align-self: flex-end;
    }
    &__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;

      &-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
      }
    }
    &__img {
      width: 457px;
      bottom: 15%;
    }
  }

  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    &__img {
      & img {
        width: 300px;
      }
    }
  }
  .interests {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }
  .contact {
    &__form {
      width: 360px;
    }
    &__container {
      justify-items: center;
    }
  }
}
@media screen and(min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    &__img {
      right: 10%;
    }
  }
}