.myProfile {
  padding-top: 6rem;
  background-color: #0dcaf0;
}

.profileImg {
  width: 200px;
}

section {
  padding-top: 5rem;
}

.myInterest {
  background-color: #0dcaf0;
}

.created {
  text-decoration: none;
  color: #0dcaf0;
}

.scrollBtn {
  color: #0dcaf0;
}

.responImg {
  height: 239px;
}

.btn-outline-success {
  color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-outline-success:hover {
  background-color: #0dcaf0;
}

.dropdown-item {
  color: white;
}
