/*Style greeting*/
.greeting-section {
  font-style: normal;
  color: #fc03b1;
}

/*Style personal info*/
.personal-info {
  font-style: normal;
  color: rgb(141, 32, 141);
}

/*Style container personal information*/
.container-personal {
  background-color: rgb(20, 255, 196);
}

/*Style history education title*/
.history-education {
  font-style: normal;
  color: rgb(5, 4, 4);
  background-color: rgb(136, 255, 0);
}

.container-education {
  background-color: #77c8e9;
}

.title-history {
  color: rgba(245, 104, 39, 0.363);
}

/*Background style history family*/
.history-family {
  background: url(/img/pexels.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*position: relative;
  overflow: hidden;*/
}

/*Remove underline links*/
a {
  text-decoration: none;
}
