body {
  width: 720px;
  margin-left: 16px;
  font-family: Verdana, Arial, sans-serif;
}

.pageHeader {
  background-color: deepskyblue;
  padding: 2px 16px;
}

.articleHeader {
  margin-left: 8px;
  padding: 2px 16px;
}

h1 {
  color: white;
}

.byLine {
  color: white;
  font-style: italic;
}

.mainContent {
  background-color: aliceblue;
  padding: 4px 16px;
  margin: 4px 16px;
}

h2 {
  color: navy;
  border-bottom: 4px dotted cornflowerblue;
}

h3 {
  color: dimgray;
  font-size: 0.8em;
  font-style: italic;
  margin-top: -12px;
  margin-bottom: 8px;
}

.pageFooter {
  background-color: cornflowerblue;
  padding: 1px 16px;
}

footer.pageFooter > p {
  color: white;
  font-size: 0.8em;
}

.articleFooter {
  background-color: navy;
  padding: 0px 16px;
  margin: -16px 16px 4px 16px;
  color: white;
}

footer.articlefooter > p {
  padding: 4px 0;
  font-size: 0.8em;
}
